!    ░█  █░                                                               
!     ▓▒▒▓   █▒██▒  ███   ▒███▒   ███   █   █   █▒██▒  ▓██▒   ███   ▒███▒ 
!      ██    ██  █ ▓▓ ▒█  █▒ ░█  █▓ ▓█  █   █   ██  █ ▓█  ▓  ▓▓ ▒█  █▒ ░█ 
!      ██    █     █   █  █▒░    █   █  █   █   █     █░     █   █  █▒░   
!     ▒██░   █     █████  ░███▒  █   █  █   █   █     █      █████  ░███▒ 
!     █▒▒█   █     █         ▒█  █   █  █   █   █     █░     █         ▒█ 
!    ▒█  █░  █     ▓▓  █  █░ ▒█  █▓ ▓█  █▒ ▓█   █     ▓█  ▓  ▓▓  █  █░ ▒█ 
!    █▒  ▒█  █      ███▒  ▒███▒   ███   ▒██▒█   █      ▓██▒   ███▒  ▒███▒                                                                       
                                                                      

!-----------------------------------------------------------------------
!                         Xft settings
!-----------------------------------------------------------------------

Xft.dpi:                100
Xft.autohint:           0       
Xft.antialias:          true
Xft.rgba:               rgb
Xft.hinting:            true
Xft.lcdfilter:          lcddefault
Xft.hintstyle:          hintsfull


!-----------------------------------------------------------------------
!                        URxvt settings 
!-----------------------------------------------------------------------

URxvt.internalBorder:    10
URxvt.externalBorder:    10
!URxvt.lineSpace:        0
!urxvt*shading:          30
URxvt.depth:             32
URxvt.saveLines:         10000
URxvt*geometry:          96x30
!96x30
URxvt*terminalName:      rxvt-unicode-256color
URxvt*visualBell:        false

!! Scrollbar
!URxvt.scrollStyle:      rxvt
URxvt.scrollBar:         false
URxvt*scrollTtyOutput:   false
URxvt*scrollWithBuffer:  true
URxvt*scrollTtyKeypress: true

!! Fonts
! Droid Sans Mono for Powerline Mono
!URxvt*font:             xft:Droid Sans Mono for Powerline:size=8, xft:Droid Mono Dotted for Powerline:size=8
!URxvt*boldFont:         xft:Droid Sans Mono for Powerline:normal:size=8
!URxvt*italicFont:       xft:Droid Sans Mono for Powerline:italic:autohint=true:size=8
!URxvt*boldItalicFont:   xft:Droid Sans Mono for Powerline:bolditalic:italic:autohint=true:size=8

! tewi
URxvt*font:              xft:tewi:size=8
URxvt*boldFont:          xft:tewi:normal:size=8
URxvt*italicFont:        xft:tewi:italic:autohint=true:size=8
URxvt*boldItalicFont:    xft:tewi:bolditalic:italic:autohint=true:size=8

URxvt.letterSpace:       -3

!! Keybinding
URxvt.keysym.C-Up:       perl:font-size:increase
URxvt.keysym.C-Down:     perl:font-size:decrease
URxvt.keysym.C-S-Up:     perl:font-size:incglobal
URxvt.keysym.C-S-Down:   perl:font-size:decglobal
!Home and End keys to jump to the beginning and end of lines
URxvt*keysym.Home:       \033[1~
URxvt*keysym.End:        \033[4~

!! Tabs
URxvt.tabbed.tabbar-bg:  -1
URxvt.tabbed.tabbar-fg:  -2
URxvt.tabbed.tab-bg:     -2
URxvt.tabbed.tab-fg:     -1
URxvt.tabbed.title-bg:   -1
URxvt.tabbed.title-fg:   -2
URxvt.tabbed.autohide:   true
URxvt.tabbed.new-button: false
URxvt.tabbed.title:      true

!! Disable the stupid ctrl+shift 'feature'
URxvt.iso14755:            false
URxvt.iso14755_52:         false

!! Cursor
!URxvt.cursorBlink:        true
!URxvt.cursorUnderline:    false
!URxvt.cursorColor:        #c5c10c
!URxvt.borderColor:        #07090d
URxvt.colorUL:             #6c71c4
Xcursor.theme:             Adwaita

!! Pointer
!URxvt.pointerBlank:        true


!! Colors
#include "/home/mario/.colors/solarized.dark"


!*background: #002b36
!*foreground: #657b83

!*foreground: #839496
!!*fading: 40
!*fadeColor: #002b36
!*cursorColor: #93a1a1
*pointerColorBackground: #586e75
*pointerColorForeground: #93a1a1

!! black dark/light
!*color0: #073642
!*color8: #002b36

!! red dark/light
!*color1: #dc322f
!*color9: #cb4b16

!! green dark/light
!*color2: #859900
!*color10: #586e75

!! yellow dark/light
!*color3: #b58900
!*color11: #657b83

!! blue dark/light
!*color4: #268bd2
!*color12: #839496

!! magenta dark/light
!*color5: #d33682
!*color13: #6c71c4

!! cyan dark/light
!*color6: #2aa198
!*color14: #93a1a1

!! white dark/light
!*color7: #eee8d5
!*color15: #fdf6e3
